
/* 	Mobile styles
/* ======================================= */

.section, .inner {
    display: block;
    position: relative;
    width: 100%;
}

.inner {
    margin: 0 auto;
    max-width: 1040px;
    z-index: 5;
    padding-left: 20px;
    padding-right: 20px;
}